@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
    font-family: 'android';
    src: url('idroid.otf') format('opentype');
}
*{
    margin:0px;
    padding: 0px;
}
:root{

    --font-padrao:'Bebas Neue', cursive;
    --font-android: 'android',cursive;
}

footer{
    background-color: #004400;
    height: 20px;
}
footer p{
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: 0px;
    background-attachment: fixed;
    }

footer >p> a{
    text-decoration: none;
    color: aliceblue;
    text-size: 0.8em;
    }
footer a:hover{
    text-decoration: underline;
    padding: 1.5px;
}